.header {
  background-color: #e0e0e0;
}

.header .container1 {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 40px;
}

.headerRight {
  width: 13%;
  display: flex;
  justify-content: space-between;
}

.header form {
  width: 50%;
}

.header input {
  width: 85%;
  height: 50px;
  border-radius: 20px 0 0 20px;
  padding-left: 30px;
  border: none;
  background-color: #e0e0e0;
  font-size: 16px;
}
.header form button {
  width: 15%;
  height: 50px;
  border-radius: 0 20px 20px 0;
  background-color: #003585;
  border: none;
  color: white;
  font-size: 16px;
}

.logoutButton {
  border: none;
  background: none;
  color: #003585;
  font-size: 20px;
  cursor: pointer;
}
