.side {
  width: 30%;
  background-color: white;
  color: #838383;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
}

.side a {
  text-decoration: none;
  color: #838383;
  background-color: #f3f1f1;
  width: 60%;
  border-radius: 20px;
  margin-left: 40px;
  padding: 13px 30px;
}
