* {
  box-sizing: border-box;
}
body {
  background-color: #e0e0e0 !important;
}

.container1 {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.mainBody {
  display: flex;
  justify-content: space-between;
}

.routes {
  width: 78%;
  padding: 40px;
  background-color: white;
}
