* {
  box-sizing: border-box;
}
html {
  background-color: #e0e0e0;
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: auto;
}

.mainBody {
  display: flex;
  justify-content: space-between;
}

.routes {
  width: 70%;
}
